<div class="container bg-light vcenter-item">
  <br /><br />
  <div class="row">
    <h1 class="text-center">{{ title }}!</h1>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <input
        type="number"
        [(ngModel)]="num1"
        placeholder="Enter Number 1"
        class="form-control"
      />
    </div>
    <div class="col-md-6">
      <input
        type="number"
        [(ngModel)]="num2"
        placeholder="Enter Number 2"
        class="form-control"
      />
    </div>
  </div>
  <br /><br />
  <div class="row text-center">
    <div class="col-md-3">
      <button class="btn btn-info" (click)="add()">Add</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-info" (click)="sub()">Substract</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-info" (click)="mul()">Multiply</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-info" (click)="div()">Divide</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-info" (click)="mod()">Modulus</button>
    </div>
  </div>
  <br />
  <br /><br />
  <div class="row">
    <div>
      <h2 class="text-center">Result</h2>
      <h1 class="text-center">{{ result }}</h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
